@font-face {
    font-display: swap;
    font-family: 'Arkhip';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arkhip.eot');
    src: url('../fonts/arkhip.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arkhip.woff2') format('woff2'),
    url('../fonts/arkhip.woff') format('woff'),
    url('../fonts/arkhip.ttf') format('truetype'),
    url('../fonts/arkhip.svg#Arkhip') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/gilroy_200.eot');
    src: url('../fonts/gilroy_200.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy_200.woff2') format('woff2'),
    url('../fonts/gilroy_200.woff') format('woff'),
    url('../fonts/gilroy_200.ttf') format('truetype'),
    url('../fonts/gilroy_200.svg#Gilroy') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/gilroy_300.eot');
    src: url('../fonts/gilroy_300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy_300.woff2') format('woff2'),
    url('../fonts/gilroy_300.woff') format('woff'),
    url('../fonts/gilroy_300.ttf') format('truetype'),
    url('../fonts/gilroy_300.svg#Gilroy') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gilroy_400.eot');
    src: url('../fonts/gilroy_400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy_400.woff2') format('woff2'),
    url('../fonts/gilroy_400.woff') format('woff'),
    url('../fonts/gilroy_400.ttf') format('truetype'),
    url('../fonts/gilroy_400.svg#Gilroy') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/gilroy_500.eot');
    src: url('../fonts/gilroy_500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy_500.woff2') format('woff2'),
    url('../fonts/gilroy_500.woff') format('woff'),
    url('../fonts/gilroy_500.ttf') format('truetype'),
    url('../fonts/gilroy_500.svg#Gilroy') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/gilroy_600.eot');
    src: url('../fonts/gilroy_600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy_600.woff2') format('woff2'),
    url('../fonts/gilroy_600.woff') format('woff'),
    url('../fonts/gilroy_600.ttf') format('truetype'),
    url('../fonts/gilroy_600.svg#Gilroy') format('svg');
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Gilroy", "Courier New", monospace;
    font-style: normal;
    line-height: normal;
    color: #451F18;;
}

input {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

input:focus, select {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

button:focus, a:focus {
    outline: 2px dashed #451F18;
    outline-offset: 4px;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
}

.form-wrapper {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 140px 20px;
}

.form-decoration {
    position: absolute;
    width: 1885px;
    height: 1885px;
    border-radius: 1885px;
    background: radial-gradient(50% 50% at 50% 50%, #C89077 -100%, rgba(253, 252, 251, 0.00) 80%);
}

.form-decoration--top {
    top: -300px;
    left: -500px;
}

.form-decoration--middle {
    top: 600px;
    right: -500px;
}

.form-decoration--bottom {
    bottom: -500px;
    left: -500px;
}

.form {
    position: relative;
    z-index: 1;
    padding: 60px 100px 174px;
    background-color: #F9F6F4;
}

.form-logo {
    font-family: "Arkhip", "Courier New", monospace;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

.form-logo span:first-child {
    display: block;
    font-size: 25px;
    font-style: normal;
    background: url("../img/decoration/logo-bg.png"), lightgray 50% / contain repeat-y;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

.form-logo span:last-child {
    display: block;
    font-size: 10px;
}

.form-main {
    padding-top: 60px;
}

.form-heading {
    margin: 0 0 50px;
    font-family: "Arkhip", "Courier New", sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.form-fieldset {
    margin: 0 0 70px;
    padding: 0;
    border: none;
}

.form-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-label:not(:last-child) {
    margin-bottom: 20px;
}

.form-label-text {
    position: relative;
    margin-right: 16px;
    font-size: 22px;
    font-weight: 500;
}

.form-field {
    flex-grow: 1;
}

.form-field::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-image: url("../img/decoration/border.png");
    background-size: auto 2px;
    background-repeat: repeat-x;
}

.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 24px;
    font-weight: 200;
    background-color: transparent;
    border: none;
    appearance: none;
}

.form-legend {
    margin-bottom: 25px;
}

.form-legend h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

.form-legend span {
    font-size: 16px;
    font-weight: 400;
}

.form-label--checkbox {
    align-items: flex-start;
}

.form-label--checkbox .form-label-text {
    font-size: 21px;
}

.form-checkbox, .form-radio {
    display: none;
}

.form-checkbox-rect {
    position: relative;
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-image: url("../img/icons/check-rectangle.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-checkbox-mark {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -7px;
    right: -4px;
    opacity: 0;
    transition: 0.1s opacity ease;
}

.form-checkbox:checked ~ .form-checkbox-rect .form-checkbox-mark {
    opacity: 1;
}

.form-radio-circle {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    padding: 6px;
    margin-right: 16px;
    background-image: url("../img/icons/radio-circle.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-radio-disc {
    opacity: 0;
    transition: 0.1s opacity ease;
}

.form-radio:checked ~ .form-radio-circle .form-radio-disc {
    opacity: 1;
}

.form-label--radio .form-label-text {
    font-size: 20px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.skills-item:not(:last-child) {
    margin-bottom: 16px;
}

.js-level-images {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.js-level-images::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 8px;
    background-image: url("../img/decoration/border.png");
    background-size: auto 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
}

.js-level-label {
    display: block;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.js-level-radio {
    display: none;
}

.js-level-img {
    display: block;
}

.js-level-img img {
    width: 85px;
    height: 85px;
    display: none;
}

.js-level-img::after {
    content: "";
    display: block;
    width: 24px;
    height: 23px;
    margin: -16px auto 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.js-level-radio:checked ~ .js-level-img .js-level-black,
.js-level-radio:not(:checked) ~ .js-level-img .js-level-white {
    display: inline-block;
}

.js-level-radio:checked ~ .js-level-img::after {
    background-image: url("../img/icons/polygon.png");
}

.js-level-texts {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.js-level-label--text {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.js-level-label--text::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background-image: url(../img/decoration/border-vertical.png);
    background-size: 2px auto;
    background-repeat: repeat-y;
    margin: 0 auto 10px;
}

.calculator {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.calculator-right {
    display: flex;
    align-items: flex-start;
}

.calculator-left {
    padding-top: 36px;
}

.calculator-options {
    margin-left: 85px;
}

.calculator-options h3 {
    margin: 0 0 16px;
    font-size: 20px;
    font-weight: 600;
}

.calculator-options .form-label:not(:last-child) {
    margin-bottom: 16px;
}

.apartment-area-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 75px;
}

.range {
    margin-right: 32px;
}

.range-input-wrapper {
    display: flex;
    width: 450px;
    height: 4px;
    background-image: url("../img/decoration/border.png");
    background-repeat: repeat-x;
    background-size: auto 2px;
    background-position: left bottom;
}

.range-input-wrapper::after, .range-input-wrapper::before {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
    flex-shrink: 0;
    background: transparent;
}

.range-input {
    flex-grow: 1;
    height: 4px;
    -webkit-appearance: none;
    background: transparent;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 23px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../img/icons/polygon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    transform: translate(-1.2px, -24px);
}

.range-numbers {
    display: flex;
}

.range-number {
    width: calc(100% / 8);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.5;
}

.range-number::before {
    content: "";
    display: block;
    width: 4px;
    height: 12px;
    background-image: url(../img/decoration/border-vertical.png);
    background-size: 2px auto;
    background-repeat: repeat-y;
    margin: 0 auto 10px;
}

.apartment-area-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 41px;
    background-image: url("../img/decoration/area-number-input-border.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-12px);
}

.apartment-area-input input {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #451F18;
    width: 3ch;
    border: none;
    text-align: center;
}

.apartment-area-input span {
    transform: translateY(-1px);
    font-size: 16px;
    font-weight: 500;
}

.form-field--price {
    flex-grow: 0;
}

.form-field--price input {
    width: 190px;
    text-align: center;
}

.about-input-wrapper {
    position: relative;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.about-input-wrapper::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-image: url("../img/decoration/border.png");
    background-size: auto 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
}

.about-input-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.about-input {
    display: inline-block;
    min-width: 300px;
    height: 36px;
    font-size: 26px;
    font-weight: 200;
    background-color: transparent;
}

.about-input:focus {
    outline: 0;
}

.plans {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.plans .form-label--radio:not(:last-child) {
    margin-right: 127px;
    margin-bottom: 0;
}

.form-fieldset--time {
    margin-bottom: 0;
}

.form-fieldset--time .form-label:not(:last-child) {
    margin-bottom: 70px;
}

.form-fieldset--time .form-field {
    flex-grow: 0;
}

.duration {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
}

.duration input {
    width: 3ch;
    padding: 0;
    text-align: center;
}

.form-control--date {
    width: 190px;
    text-align: center;
}
